body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

#app{
    display: flex;
    flex-direction: column;
    background: skyblue;
    color: black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    min-height: 100vh;
    padding: 6px;
}

.entry{
    background: inherit;
}

.entry .title{
    display:block;
    font-size: 27px;
    color: white;
}

#date{
    color: aliceblue;
}

#temp{
    color: aliceblue;
}

#content{
    color: aliceblue;
}

#generate{
    align-self: center;
    margin: 16px;
}

.headline {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
    color: aliceblue;
}


.feel{
    display: flex;
    flex-direction: column;
}


/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
    color: white;
}

input{
    display:block;
    min-height: 45px;
    min-width: 100px;
    background: inherit;
    font-size: 20px;
    color: aliceblue;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    min-width: 60px;
    min-height: 25px;
    background: powderblue;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
}

h1{
    font-size: 36px;
}

textarea{
    background:inherit;
    color: aliceblue;
    font-size: 20px;
    width: 100%;
    max-height: 180px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: aliceblue;
    font-family: 'Oswald', sans-serif;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;
}

@media (min-width: 600px){
    button{
        min-width: 220px;
        min-height: 60px;
        font-size: 35px;
    }

    .headline {
        font-size: 4.8rem;
    }

    #app {
        align-items: center;
    }

    .feel {
        align-items: center;
    }

    input {
        text-align: center;
    }

    textarea {
        text-align: center;
    }

    .entry {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #entryHolder {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}